div#alert.modal
	div.modal-content
		h4.center-align Seleccione un tipo de alerta
		ul.center-align
			li
				p
					a(href="/user/theft_vehicle" class="waves-effect waves-light btn red") H/R Vehículo
			li
				p
					a(href="/user/theft" class="waves-effect waves-light btn red") ROBO
			li
				p
					a(href="/user/alert" class="waves-effect waves-light btn red") ALERTA GENERAL
			li
				p
					a(href="" class="waves-effect waves-light btn red") UBICACIÓN