div#alert_chat.modal
	div.modal-content
		h4.center-align Seleccione un tipo de chat
		ul.center-align
			li
				p
					a(href="/user/chat" class="waves-effect waves-light btn red") GENERAL
			li
				p
					a(href="/user/chat/private" class="waves-effect waves-light btn red") PRIVADO