div#alert_admin.modal
	div.modal-content
		h4.center-align Seleccione un tipo de alerta
		ul.center-align
			li
				p
					a(href="/admin/alert/vehicle" class="waves-effect waves-light btn red")#vehicle_alert_admin H/R Vehículo
			li
				p
					a(href="/admin/alert/theft" class="waves-effect waves-light btn red") ROBO
			li
				p
					a(class="waves-effect waves-light btn red") ALERTA GENERAL