div#alert_confirm_delete_agent.modal
	div.modal-content
		h3 ¿Estás seguro que deseas eliminar al agente?
	div.modal-footer
		a(class="modal-action waves-effect waves-green btn-flat red white-text" style="margin-left: 1em;")#true_delete SÍ
		a(class="modal-action modal-close waves-effect waves-green btn-flat red white-text") NO