header
	ul#dropdown1.dropdown-content
		li
			a(href="#").logout Salir
	nav.blue.lighten-1
		div.nav-wrapper
			a(href="#" class='brand-logo left' style='width: 50px;margin-left: 0.5em;')
				img(src='/images/pnc.png').responsive-img
			ul#nav-mobile(class='right')
				li
					a(href='#' data-activates="dropdown1").blue.darken-1.dropdown-button alfonso