header
	ul#dropdown1.dropdown-content
		li
			a(href="#").logout Salir
	nav.blue.lighten-1
		div.nav-wrapper
			ul#nav-mobile(class='right')
				li
					a(href='#' data-activates="dropdown1").blue.darken-1.dropdown-button#username
					script.
						var user = JSON.parse(localStorage["user"]).name;
						document.getElementById('username').innerText = user;