div#add_police.modal
	div.modal-content
		h4 Nuevo Agente Policial
		
	div.modal-footer
		a(href="#").modal-action.waves-effect.waves-green.btn-flat Crear
		a(href="#").modal-action.modal-close.waves-effect.waves-green.btn-flat Cerrar 