doctype html
html
	head 
		title Policia
		link(rel='stylesheet', href='/bower_components/materialize/dist/css/materialize.css')
		link(rel='stylesheet', href='/css/app.css')
	body
		include includes/sidenav.jade
		main(style="padding-left: 250px;")
			include includes/header.jade
			div.row
				div.left-align(style="margin-top: 8px;margin-left: 10px;margin-bottom: 8px;")
					a(class="waves-effect waves-light btn red", style="padding: 0 0.4em;font-size: 0.8em;")#cerrar_denuncias CERRAR
				div(class="col s4")#container-denuncias
					h5.no-margin(style="font-size: 1em;") Denuncias
					div.row
						ul(style="height: 500px;overflow-y: scroll;").collection#list-denuncias
							//- each denuncia in denuncias
							//- 	if denuncia.vehicles != undefined
							//- 		li.collection-item
							//- 			span.title.no-margin
							//- 				strong Social
							//- 			p.no-margin
							//- 				strong Casual
							//- 			p.no-margin
							//- 				strong socialité
							//- 			p.no-margin
							//- 				strong Casual
							//- 			a(class="waves-effect btn attend") ATENDER
				div(class="col s8")#container-map
					div
						div#map.map_alerts
		script(src='/bower_components/jquery/dist/jquery.js')
		script(src='/bower_components/jquery.cookie/jquery.cookie.js')
		script(src='/bower_components/materialize/dist/js/materialize.js')
		script(src="//maps.google.com/maps/api/js?sensor=true&key=AIzaSyCHwwNb-e6Sk8CbsUG2t6OsOsPHOtXPoUc")
		script(src='/bower_components/socket.io-client/socket.io.js')
		script(src='/js/gmaps.js')
		script(src='/js/admin.js')
		script(src='/js/globals.js')