div.row
	div(class="col s4")
		h5 Denuncias
		div.row
		ul(style="height: 500px;overflow-y: scroll;").collection#list-denuncias
			each denuncia in denuncias.reverse()
				li.collection-item
					span.title= denuncia.description
					p= denuncia.direction
					p= denuncia.date
					p= denuncia.observation
					a(class="waves-effect btn") MAPA
	div(class="col s8")
		div
			h5 Mapa
			div#map