ul#nav-mobile.side-nav.fixed(style="transform: translateX(0px); width: 250px;")
	li.logo(style="margin-top: 0;margin-bottom: 20px; text-align: center;")
		a.brand-logo#logo-container(style="height: 125px; padding: 0.5em 0;background: #efefef;" href="#")
			img(src='/images/pnc.png' style="width: 100px;").responsive-img
	li.bold
		a(href="#" style="font-weight: 800;").waves-effect.waves-teal Hechos Delictivos
	li.bold
		a(href="#" style="font-weight: 800;").waves-effect.waves-teal Listado de Agentes
	li
		a(href="#" style="font-weight: 800;").waves-effect.waves-teal Chat